@model IEnumerable<HomeTicaretCore.Entity.Basket>


<table class="table">
    <tr>
        <th>
           Ürün
        </th>
        <th>
            Adet
        </th>
        <th>
            Fiyat
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Product.Name)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.Price)
        </td>
        <td>
            @Html.ActionLink("Sil", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
<a href="/Siparisver" class="btn btn-primary"><i class="fa fa-credit-card"></i>Satın Al</a>
